<html>
<body>
<h1>Hello</h1>
<h1>
    Feed
</h1>

<div class="feeds">
    <#list posts as post>
        <a href="/user/${post.userId}">${post.owner.login}</a>
        <p>
            POST:
            <a href="/post/${post.id}">${post.post}</a>
        </p>
        <form action="/comment/add">
            <input type="text" name="comment">
            <input type="submit" value="OK">
        </form>
    </#list>

</div>
</body>
</html>