<html>
<body>
<h1>Hello</h1>
<h1>
    Feed
</h1>

<div class="feeds">
    <a href="/user/${post.userId}">${post.owner.login}</a>
    <p>
        POST:
        <a href="/post/${post.id}">${post.post}</a>
    </p>


    <#list post.comments as comment>
        <a href="/user/${comment.userId}">${comment.owner.login}</a>
        <p>${comment.comment}</p>

    </#list>
    <form action="/comment/add">
        <input type="text" name="comment">
        <input type="submit" value="OK">
    </form>

</div>
</body>
</html>